.card {
    position: absolute;
    width: 1440px;
    height: 768px;
    position: relative;
    background: linear-gradient(180deg, #0837B0 0%, #021E66 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.block-number{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 578px;
    /* left: 50%;
    margin-left: -150px; */
    top: 189px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.number {
    position: absolute;
    height: 176px;
    top: 50%;
    margin-top: -88px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 176px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-plus {
    position: absolute;
    top: 523px;
    left: 592px;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background: url(./plus-img.png);
}

.btn-minus {
    position: absolute;
    top: 523px;
    left: 695px;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background: url(./minus-img.png);
}

.btn-reset {
    position: absolute;
    top: 523px;
    left: 799px;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background: url(./reset-img.png);
}

.btn-download {
    position: absolute;
    top: 622px;
    left: 645px;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background: url(./download-img.png);
}

.btn-upload {
    position: absolute;
    top: 622px;
    left: 751px;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background: url(./upload-img.png);
}